/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}


h1, h2, h3, h4, h5, h6, blockquote, ul.menu > li > a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #333;
}

span{
	text-decoration: none;
    color: #333;	
}

a:hover{
	text-decoration: none;
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 50%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: #e52329;
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	#slide-nav .container {
	    margin: 0;
	    padding: 0!important;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    
	    width: 50%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #1c1917;
	    left: -100%;
	    width: 50%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 50%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 50%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #1c1917
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#slide-nav #navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
	    width: 50%;
	    left: -80%;
	    background: #1c1917;
	}
	#slide-nav.navbar-inverse #navbar-height-col {
	    background: #1c1917;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 50%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:768px) { 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}



/*Menu*/
.navbar-inverse {
    background-color: #1c1917;
    border-color: none;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
   	border-bottom-style: solid; 
    border-bottom-color: #e52329;	
    color: #e52329 !important;
    height: 50px; 
    background-color: #1c1917;
}
.navbar {
    border-radius: 0 !important;
}



/*Carousel*/


/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span, 
.carousel-control.right span {
    width: 60px;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

 .thumbnail>img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 13px;
}

a.thumbnail, a.thumbnail, a.thumbnail {
	display: block;
    width: 100%;
    height: 200px;
    border:none;
    border-color: none;
}

.thumbnail>img:focus, .thumbnail>img:hover {
    display: block;
    width: 100%;
    border: solid;
    border-color: #e52329;
    border-width: 2px;
    border-radius: 13px;
}


a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
	display: block;
    width: 100%;
    height: 200px;
    border:none;
    border-color: #e52329;
    color:#e52329;
}
/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 77%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.link-text{
	position: absolute;
    top: 77%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
    font-size: 20px;
    background: #b1091a;
    height: 90px;
}

.link-text:hover{	
    color: #474B4E;
    text-decoration: none;
    font-size: 20px;
}
.item:first-child {
	
}

/*Conteudo*/

.conteudo{
  width: 100%;
  margin-left: 95px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-noticia {
    padding-left: 0px;
    width: 300px;
}

.titulo-noticia{
	text-align: center;
}

.titulo-noticia>h4:hover, .titulo-noticia>h4:focus{
	text-align: center;
	color:#e52329;
}
.img-noticia-link{
	margin: 0 auto !important;
    float: none !important;
    max-width: 400px !important;
 }

.texto-descricao-noticia{
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
}

.texto-noticia{
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
}

.noticias-home{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
}

.paddings-site{
	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 767px)
#slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
    width: 10%;
    margin-top:20px;
}

.container-fluid{
 padding-right: 0px; 
  padding-left: 0px; 
  margin-right: 0px; 
  margin-left: 0px; 
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

@media (min-width: 767px)
.container-fluid{
 padding-right: 15px; 
  padding-left: 15px; 
  margin-right: 15px; 
  margin-left: 15px; 
}

.nav>li {
    position: relative;
    display: block;
    margin-left: 4px;
}
.link-menu{
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    margin: 0;
    transition: all 200ms linear;    
    margin-left: 4px;
}

ul>.li-menu>a:hover, 
ul>li>.link-menu:hover{
    border-bottom-style: solid; 
    border-bottom-color: #e52329;	
    color: #e52329 !important;
    height: 50px;  
}


.propaganda{    
	margin: 0 auto;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}
 


